{% extends 'catalog/base.html' %}

{% block content %}
    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row">
                {% for object in object_list %}
                    <div class="col-md-4">
                                <div class="card mb-4 box-shadow">
                                    <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
                                    <div class="card-body">
                                        <p class="card-text">{{ object }}.</p>
                                        <p class="card-text">{{ object.category }}.</p>
                                        <p class="card-text">{{ object.price }}.</p>
                                        <p class="card-text">{{ object.creat_date }}.</p>
                                    </div>
                                </div>

                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
