{% extends 'catalog/base.html' %}

{% block content %}
<div class="col">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Удаление продукта</h5>
      <form method="post">
        {% csrf_token %}
        Подтвердите удаление продукта"{{ object.name }}"<br>
        <input type="submit" class="btn btn-outline-danger" value="Подтверждаю">
      </form>
      <div class="card-footer">
        <a href="{% url 'catalog:index' %}" class="btn btn-primary"><< Назад</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}