{% extends 'catalog/base.html' %}
{% load mytags %}
{% load static %}

{% block content %}
    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" src="{% media_path product.image %}" alt="Изображение недоступно"
                             width="304" height="228">
                        <div class="card-body">
                            <p class="card-text">{{ product.name }}.</p>
                            <p class="card-text">{{ product.description }}.</p>
                            <p class="card-text">{{ product.creat_date }}.</p>
                            <p class="card-text">{{ product.price }}.</p>
                            {% for version in product.version.all %}
                                <p class="card-text">
                                    {% if version.is_version %}
                                        Версия: {{ version.version_title }}
                                        Номер версии: {{ version.version_num }}
                                    {% endif %}
                                </p>

                            {%  endfor %}`

                        </div>
                    </div>
                    <a href="{% url 'catalog:product' %}" class="btn btn-primary"><< Назад</a>
                    <a href="{% url 'catalog:product_update' object.id %}" role="button">Изменить</a>
                    <a href="{% url 'catalog:product_delete' object.id %}" role="button">Удалить</a>
                </div>

            </div>
        </div>
    </div>
{% endblock %}